In [225]:
#Exercise 2

import pandas as pd
df= pd.read_csv("C:/Users/elena/OneDrive/Υπολογιστής/york/Advanced Programming/Week 4/RandomeValues.csv")
a=np.asarray(df)



print(a)
print()
#All the data in rows, 5,7 and 9
a[[5, 7, 9], :]
print()
#All the data in columns 0, 7, 10.
print(a[:,[0,7,10]])
print()

#The data in columns 1 to 3 (exclusively), from rows 7 to 9 (inclusively).
a[:,[2,7,8,9]]

[[  5  85  83  22  39  26  73  77  97  75  33]
 [  1  46  39  53  67  19  87   3  84  58  26]
 [ 83  81  31  96  13   3  58  32 100 100  96]
 [ 71   2  63  84  85   5  67  35  76  77  76]
 [ 79  67  44 100  89  71  27  46  45  13  32]
 [100  27  23  76  53  86   2  59  30  52   2]
 [ 37  43  10  16  77  40  62   4  22  64  15]
 [ 97  61   8  99  67  42  59   7  86  42  21]
 [ 80  93  76  46  46  35  57  70  93  36  86]
 [ 25  23  89  58  89  52  21  65  52  25  45]]


[[  5  77  33]
 [  1   3  26]
 [ 83  32  96]
 [ 71  35  76]
 [ 79  46  32]
 [100  59   2]
 [ 37   4  15]
 [ 97   7  21]
 [ 80  70  86]
 [ 25  65  45]]

array([[ 83,  77,  97,  75],
       [ 39,   3,  84,  58],
       [ 31,  32, 100, 100],
       [ 63,  35,  76,  77],
       [ 44,  46,  45,  13],
       [ 23,  59,  30,  52],
       [ 10,   4,  22,  64],
       [  8,   7,  86,  42],
       [ 76,  70,  93,  36],
       [ 89,  65,  52,  25]], dtype=int64)

In [226]:
#Exercise 1

import numpy as np
from numpy import random

x = random.rand(100,100)
print(x)
y=np.sqrt(x)
print(y)

w=np.sum(y)
w

[[0.46418822 0.94485973 0.41535761 ... 0.80975387 0.14309711 0.91151185]
 [0.08540812 0.4374224  0.17241913 ... 0.8310271  0.06588914 0.85938061]
 [0.03101046 0.22088607 0.90621825 ... 0.31759023 0.83210844 0.09108727]
 ...
 [0.75485914 0.77832434 0.85611995 ... 0.09513555 0.6936556  0.83052348]
 [0.46007902 0.41931071 0.62477905 ... 0.33165604 0.21408273 0.23202796]
 [0.61956674 0.85923614 0.50151886 ... 0.1316869  0.2812583  0.05008792]]
[[0.6813136  0.97203896 0.64448244 ... 0.89986325 0.37828179 0.95473129]
 [0.29224667 0.66137917 0.41523383 ... 0.91160688 0.2566888  0.92702783]
 [0.17609788 0.46998518 0.95195496 ... 0.56355144 0.91219978 0.30180667]
 ...
 [0.8688263  0.88222692 0.9252675  ... 0.30844051 0.83285989 0.91133061]
 [0.67829125 0.64754205 0.79042966 ... 0.57589586 0.46269075 0.48169281]
 [0.78712562 0.92694991 0.70817996 ... 0.36288689 0.53033791 0.22380331]]

6709.670038190475

In [227]:
#Exercise 3


df= pd.read_csv("C:/Users/elena/OneDrive/Υπολογιστής/york/Advanced Programming/Week 4/SalesData.csv")
rows= df['Unnamed: 0'].to_numpy()
rows

array(['L3', 'L1', 'P2', 'N6', 'N4', 'B8'], dtype=object)

In [228]:
columns=np.asarray(df.columns)
columns

array(['Unnamed: 0', 'Apr-18', 'May-18', 'Jun-18', 'Jul-18', 'Aug-18',
       'Sep-18', 'Oct-18', 'Nov-18', 'Dec-18', 'Jan-19', 'Feb-19',
       'Mar-19'], dtype=object)

In [229]:
cols= np.asarray(df.columns)
values = df[(cols[1:])].to_numpy()
values

array([[390, 345, 379, 353, 365, 326, 363, 459, 539, 474, 340, 343],
       [392, 377, 347, 395, 330, 332, 340, 446, 573, 464, 223, 216],
       [250, 270, 300, 398, 376, 382, 306, 489, 552, 488, 298, 269],
       [460, 480, 450, 310, 392, 383, 314, 402, 640, 495, 215, 243],
       [460, 480, 450, 387, 388, 320, 337, 478, 676, 408, 338, 263],
       [470, 510, 360, 472, 423, 385, 353, 464, 598, 419, 459, 659]],
      dtype=int64)

In [230]:

x=values[:,[3,5,6]]
print(x)



#July total,mean

july_total=sum(values[:,[3]])
print(july_total)
july_mean=values[:,[3]].mean()
july_mean

[[353 326 363]
 [395 332 340]
 [398 382 306]
 [310 383 314]
 [387 320 337]
 [472 385 353]]
[2315]

385.8333333333333

In [231]:
#August total,mean

aug_total=sum(values[:,[4]])
print(aug_total)
aug_mean=values[:,[4]].mean()
aug_mean

[2274]

379.0

In [232]:
#September total,mean

sep_total=sum(values[:,[5]])
print(sep_total)
sep_mean=values[:,[5]].mean()
sep_mean

[2128]

354.6666666666667

In [233]:
#All the sales for stores L3 and L1, for the first and third quarter calculating the total and the mean for each quarter for each store.
L1=values[0,[0,1,2,6,7,8]]
print(L1)

#for L1 total,mean for 1st quarter
L1_1rst_total=sum(values[0,:3])
print("The total for the 1st quarter for L1 is: ",L1_1rst_total)

L1_1rst_mean=values[0,:3].mean()
print("The mean for the 1st quarter for L1 is: ",L1_1rst_mean)

#for L1 total,mean for 3rd quarter

L1_3rd_total=sum(values[0,[6,7,8]])
print("The total for the 3rd quarter for L1 is: ",L1_3rd_total)

L1_3rd_mean=values[0,[6,7,8]].mean()
print("The mean for the 3rd quarter for L1 is: ",L1_3rd_mean)

[390 345 379 363 459 539]
The total for the 1st quarter for L1 is:  1114
The mean for the 1st quarter for L1 is:  371.3333333333333
The total for the 3rd quarter for L1 is:  1361
The mean for the 3rd quarter for L1 is:  453.6666666666667

In [234]:
#L3
L3=values[1,[0,1,2,6,7,8]]
print(L3)

#for L3 total,mean for 1st quarter
L3_1rst_total=sum(values[1,:3])
print("The total for the 1st quarter for L3 is: ",L3_1rst_total)

L3_1st_mean=values[1,:3].mean()
print("The mean for the 1st quarter for L3 is: ",L3_1st_mean)

#for L3 total,mean for 3rd quarter

L3_3rd_total=sum(values[1,[6,7,8]])
print("The total for the 3rd quarter for L3 is: ",L3_3rd_total)

L3_3rd_mean=values[1,[6,7,8]].mean()
print("The mean for the 3rd quarter for L3 is: ",L3_3rd_mean)

[392 377 347 340 446 573]
The total for the 1st quarter for L3 is:  1116
The mean for the 1st quarter for L3 is:  372.0
The total for the 3rd quarter for L3 is:  1359
The mean for the 3rd quarter for L3 is:  453.0

In [235]:
#N6

N6_months=columns[1:13]
N6_months
N6_sales=values[3,:12]
x=N6_sales<400
N6_result = np.vstack((N6_months, x))
N6_result

array([['Apr-18', 'May-18', 'Jun-18', 'Jul-18', 'Aug-18', 'Sep-18',
        'Oct-18', 'Nov-18', 'Dec-18', 'Jan-19', 'Feb-19', 'Mar-19'],
       [False, False, False, True, True, True, True, False, False, False,
        True, True]], dtype=object)

In [236]:
#N4

N4_months=columns[1:13]
N4_months
N4_sales=values[4,:12]
y=N4_sales<400
N4_result = np.vstack((N4_months, y))
N4_result

array([['Apr-18', 'May-18', 'Jun-18', 'Jul-18', 'Aug-18', 'Sep-18',
        'Oct-18', 'Nov-18', 'Dec-18', 'Jan-19', 'Feb-19', 'Mar-19'],
       [False, False, False, True, True, True, True, False, False, False,
        True, True]], dtype=object)

In [237]:
#Exercise 4
import random

niters=100
nsteps=300

draws=np.random.randint(0,2,size=(niters,nsteps))
steps=np.where(draws>0,1,-1)
walks=steps.cumsum(1)
walks

falls=(np.abs(walks)>=7).any(1)
falls

fall_times=(np.abs(walks[falls])>=7).argmax(1)  
fall_times.mean()

50.16