In [3]:
import pymongo
import json
from pprint import pprint
client = pymongo.MongoClient("mongodb+srv://LizhuangLiu:YorkMS@cloud0.pieni.mongodb.net/<dbname>?retryWrites=true&w=majority")
db = client.test
print(client.list_database_names())


db = client["People"]
collection = db["personalDetails"]
results = collection.find({'age':{'$gt':25}},{'_id':0, 'age':1,'fullName.first':1,'fullName.surename':1})
for r in results:
    print(r)

['university', 'admin', 'local']

Write programming statements that extract the following information from your database:
 * The full name of anyone over 25
 * The id of anyone who does not have any middle names
 * Count how many men and how many women (separately) are not living in Tokyo.

In [22]:
with open('./People.json', "r") as f:
    data = json.load(f)
    #print(json.dumps(data, indent=2))
    over25 = []
    no_middle_name = []
    men_not_in_tokyo = 0
    women_not_in_tokyo = 0
    for e in data['students']:
        if e['age'] > 25:
            over25.append(e['fullName'])
        if e['fullName']['other'] == [None]:
            no_middle_name.append(e['id'])
        if e['fullName']['title'] == 'Mr':
            if e['city'] == 'Tokyo':
                men_not_in_tokyo += 1
        else:
            if e['city'] == 'Tokyo':
                women_not_in_tokyo += 1
    print("* The full name of anyone over 25:")
    for e in over25:
        print(f'  {e}')
    print("* The id of anyone who does not have any middle names:")
    for e in no_middle_name:
        print(f"  {e}")
    print(f"* How many men are not living in Tokyo: {men_not_in_tokyo}")
    print(f"* How many men are not living in Tokyo: {women_not_in_tokyo}")
    print(json.dumps(data, indent=2))

* The full name of anyone over 25:
  {'title': 'Mrs', 'first': 'Lisa', 'surname': 'Penny', 'other': ['Melanie']}
  {'title': 'Mr', 'first': 'Lorenzo', 'surname': 'Dubois', 'other': ['Ruelle', 'Garlen']}
  {'title': 'Mr', 'first': 'Tanveer', 'surname': 'Patel', 'other': ['Vihaan']}
* The id of anyone who does not have any middle names:
  546854
* How many men are not living in Tokyo: 1
* How many men are not living in Tokyo: 0
{
  "students": [
    {
      "id": 897654,
      "fullName": {
        "title": "Mrs",
        "first": "Lisa",
        "surname": "Penny",
        "other": [
          "Melanie"
        ]
      },
      "age": 32,
      "city": "London"
    },
    {
      "id": 786789,
      "fullName": {
        "title": "Mr",
        "first": "Lorenzo",
        "surname": "Dubois",
        "other": [
          "Ruelle",
          "Garlen"
        ]
      },
      "age": 38,
      "city": "Paris"
    },
    {
      "id": 546854,
      "fullName": {
        "title": "Mr",
        "first": "Takeshi",
        "surname": "Tanaka",
        "other": [
          null
        ]
      },
      "age": 25,
      "city": "Tokyo"
    },
    {
      "id": 238751,
      "fullName": {
        "title": "Mr",
        "first": "Tanveer",
        "surname": "Patel",
        "other": [
          "Vihaan"
        ]
      },
      "age": 27,
      "city": "Mumbai"
    },
    {
      "id": 894573,
      "fullName": {
        "title": "Miss",
        "first": "Iolanda",
        "surname": "Melo",
        "other": [
          "Bianca"
        ]
      },
      "age": 23,
      "city": "Lisbon"
    }
  ]
}